<%- include('../includes/imports/head') %>
</head>

<body class="scrollbar-inner wow fadeIn">
    <%- include('../includes/components/mainheader') %>

    <main>
        <section id="banner" class="img-webp">
            <div class="container">
                <h1 class="title mb-3">
                    <span class="wow fadeIn" data-wow-delay="0.3s">Admnistrador</span>
                    <span class="wow bounceInUp bold" data-wow-delay="0.7s">Login</span>
                </h1>
            </div>
        </section>
        <section>
            <div class="container text-center" style="min-height: 40vh">
                <div id="submit-actions" class="row pt-5">
                <div id="collapseGroup">
                    <div class="">
                        <%- include('../includes/form/errorBox') %>
                        <form action="/admin/login"  method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <div class="row pt-4">
                                <div class="offset-md-2"></div>
                                <div class="col-12 col-md-8">
                                    <div class="row">
                                        <div class="col-12 text-left">
                                            <h3 class="form-title font-weight-bold color-main">Formulário de login</h3>
                                            <p class="form-info"><i class="fa fa-info-circle pr-1"></i>Preencha o
                                                formulário com dados da empresa e da primeira solução que quer
                                                cadastrar, nós analisaremos e enviaremos para você um código para criar
                                                uma
                                                conta!</p>
                                        </div>
                                        <div class="col-md-5">
                                            <input name="usuario" type="text" class="form-control" placeholder="Usuário">
                                        </div>
                                        <div class="col-md-4">
                                            <input name="password" type="password" class="form-control" placeholder="Senha">
                                        </div>
                                        <div class="col-md-3">
                                            <button class="btn-main--square w-100 mt-2">Entrar</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="offset-md-2"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include('../includes/components/footer')%>
</body>
<%- include('../includes/imports/end') %>