<%- include('../../includes/imports/head') %>

</head>

<body class="scrollbar-inner wow fadeIn">
    <%- include('../../includes/components/mainheader') %>

    <main>
        <section id="banner" class="img-webp mb-3">
            <div class="container">
                <h1 class="title mb-3">
                    <span class="wow fadeIn" data-wow-delay="0.3s">Admnistrador</span>
                    <span class="wow bounceInUp bold" data-wow-delay="0.7s">Solicitações de exibição</span>
                </h1>
            </div>
        </section>

        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <%- include('../../includes/components/adminpanel') %>
                </div>
                <div class="col-lg-8">
                    <div class="admin-wrap">
                        <%  if(empresa.status == 'pendente') { %>
                        <div class="alert alert-warning mt-2 d-flex justify-content-between" role="alert">
                            <p>Esta empresa está pendente. Você precisa tomar uma ação:</p>
                            <div class="">
                                <form action="/admin/empresa/aprovar" class="d-inline-block" method="POST"
                                    data-confirm="true">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <input type="hidden" name="id" value="<%= empresa.id %>">
                                    <button type="submit" class="acao" data-toggle="tooltip" data-placement="bottom"
                                        title="Aceitar"><i class="fa fa-check icon success"></i></button>
                                </form>
                                <form action="/admin/empresa/rejeitar" class="d-inline-block" method="POST"
                                    data-confirm="true">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <input type="hidden" name="id" value="<%= empresa.id %>">
                                    <button type="submit" class="acao" data-toggle="tooltip" data-placement="bottom"
                                        title="Rejeitar"><i class="fa fa-ban icon danger"></i></button>
                                </form>
                            </div>
                        </div>
                        <% } %>
                        <%  if(empresa.status == 'rejeitado') { %>
                        <div class="alert alert-warning mt-2 d-flex justify-content-between" role="alert">
                            <p>Esta empresa foi rejeitada. Você clique no botão ao lado para aprova-la.</p>
                            <div class="">
                                <form action="/admin/empresa/aprovar" data-confirm="true" class="d-inline-block" method="POST"
                                    data-confirm="true">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <input type="hidden" name="id" value="<%= empresa.id %>">
                                    <button type="submit" class="acao" data-toggle="tooltip" data-placement="bottom"
                                        title="Aceitar"><i class="fa fa-check icon success"></i></button>
                                </form>
                            </div>
                        </div>
                        <% } %>
                        <h3 class="inner-title text-left"><%= empresa.nome %></h3>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include('../../includes/components/footer')%>
</body>

<%- include('../../includes/imports/end') %>