<%- include('../../includes/imports/head') %>

</head>

<body class="scrollbar-inner wow fadeIn">
    <%- include('../../includes/components/mainheader') %>

    <main>
        <section id="banner" class="img-webp mb-3">
            <div class="container">
                <h1 class="title mb-3">
                    <span class="wow fadeIn" data-wow-delay="0.3s">Admnistrador</span>
                    <span class="wow bounceInUp bold" data-wow-delay="0.7s">Solicitações de exibição</span>
                </h1>
            </div>
        </section>

        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <%- include('../../includes/components/adminpanel') %>
                </div>
                <div class="col-lg-8">
                    <div class="admin-wrap">
                        <h3 class="inner-title text-left">Nova empresa</h3>
                        <p class="form-info text-left"><i class="fa fa-info-circle pr-2" area-hidden="true"></i>Crie
                            empresas você mesmo como admnistrador, fornecendo alguns dados básicos. Ao final, será
                            fornecido a empresa criada, por email, as credenciais para acessar o site.</p>
                    </div>
                    <form action="/admin/empresas/new" method="POST" enctype="multipart/form-data">
                        <%- include('../../includes/form/errorBox') %>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6">
                                        <input type="text" required name="nome" class="form-control" placeholder="Nome da empresa">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" required name="email" class="form-control" placeholder="Email da empresa">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" required name="telefone" class="form-control" placeholder="Telefone da empresa">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" required name="encarregado" class="form-control" placeholder="Nome do encarregado">
                                    </div>
                                    <div class="col-12">
                                        <button class="btn-main--square w-100 mt-2">Criar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <%- include('../../includes/components/footer')%>
</body>

<%- include('../../includes/imports/end') %>