<%- include('../../includes/imports/head') %>

</head>

<body class="scrollbar-inner wow fadeIn">
    <%- include('../../includes/components/mainheader') %>

    <main>
        <section id="banner" class="img-webp mb-3">
            <div class="container">
                <h1 class="title mb-3">
                    <span class="wow fadeIn" data-wow-delay="0.3s">Admnistrador</span>
                    <span class="wow bounceInUp bold" data-wow-delay="0.7s">Ver avaliações</span>
                </h1>
            </div>
        </section>

        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <%- include('../../includes/components/adminpanel') %>
                </div>
                <div class="col-lg-8">
                    <div class="admin-wrap">
                        <h3 class="inner-title text-left">Ver Avaliações</h3>
                        <p class="form-info text-left"><i class="fa fa-info-circle pr-2" area-hidden="true"></i>Veja todas as
                            solicitações de avaliação do sistemaq que já foram aprovadas.</p>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <% if( avaliacoes.length > 0) { %>
                            <div class="responsive-table">
                                <table class="flat-table">
                                    <thead>
                                        <th>Autor</th>
                                        <th>Solução</th>
                                        <th>Empresa</th>
                                        <th>Ações</th>
                                    </thead>
                                    <tbody>
                                        <% avaliacoes.forEach( avaliacao => { %>
                                        <tr>
                                            <td> <a href=""><%= avaliacao.autor %></a></td>
                                            <td> <a href=""><%= avaliacao.solucaoId.nome %></a> </td>
                                            <td> <a href=""><%= avaliacao.solucaoId.empresaId.nome %></a> </td>
                                            <td>
                                                <a href="" role="button" class="acao" data-toggle="tooltip"
                                                    data-placement="bottom" title="Ver mais">
                                                    <i class="fa fa-eye icon"></i></a>
                                                <form action="empresa/avaliacao/rejeitar">
                                                    <input type="hidden" name="id" value="<%= avaliacao.id %>">
                                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                    <button type="submit" class="acao" data-toggle="tooltip"
                                                        data-placement="bottom" title="Enviar para rejeição">
                                                        <i class="fa fa-ban icon danger"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                            <% } else { %>
                                <h3 class="inner-title">Nenhuma avaliação para exibir.</h3>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include('../../includes/components/footer')%>
</body>

<%- include('../../includes/imports/end') %>