<%- include('includes/imports/head') %>
</head>
<body class="scrollbar-inner wow fadeIn">
   <%- include('includes/components/mainheader') %>
   
    <main>
	<section id="banner" class="img-webp mb-3">
		<div class="container">
			<h1 class="title mb-3">
				<span class="wow fadeIn" data-wow-delay="0.3s">Error</span>
				<span class="wow bounceInUp bold" data-wow-delay="0.7s">Ocorreu um erro no servidor</span>
				<p class="wow bounceInUp bold" data-wow-delay="1s"><%= error %></p>
			</h1>
		</div>
	</section>
        <%- include('includes/components/footer')%>
</body>
<%- include('includes/imports/end') %>